.box {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: fit-content;
  min-width: 180px;
  height: 90px;
  padding: 10px 10px 15px 15px;
  background-color: rgb(245, 246, 250);
  border-radius: 5px;
}
