label {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #5536db;
  padding: 5px 5px 5px 5px;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-weight: 400;
  color: #5536db;
  font-size: small;
}
